body {
    background: tan;
}

.titleWords{
    text-align: center;
}

h1 {
    font-family: sans-serif;
    font-size: 300%;
}


.mainTitle {
    background-color: white;
    display: inline;
    color: black;
    text-align: center;
    border: 2px solid rgb(190, 53, 53);
}

.description {
    font-weight: bold;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    
}

.main-content {
    flex: 1;
    margin: 10px;
    padding: 5px;
    border-radius:25px;
    justify-content: flex-start;
    
}

.sidebar {
    flex: 1;
    background-color: khaki;
    margin: 10px;
    padding: 5px;
    border-radius:25px;
    justify-content: flex-start;
}

.board-game-display {
    border-radius: 25px;
    margin: 15px;
    width: 100%;
}
